{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <div class="title">
        <h1>Badminton Club <br>Kriegsheim Rottelsheim</h1>
    </div>
    
    <div class="club">
            <div class="club-description">
                <div class="titre-texte">
                    <h3>Le club</h3>
                        <p>Le badminton club de Kriegsheim-Rottelsheim a été fondé en 1996, il propose des séances de badminton en loisir et compte actuellement une soixantaine de membres.

                        Chez nous, pas de prise de tête, tout le monde joue avec tout le monde, avec comme objectif principal de transpirer.
                        
                        Uniquement dotés de sportives et sportifs amateurs, la bonne ambiance et  la bonne humeur sont les premières qualités recherchées pour les futurs  nouveaux membres.
                        
                        Mouiller le maillot est notre devise !</p>
                </div>
                    <img class="img-president" src="{{ asset('img/discours-president.jpg')}}" alt="photo du président du club faisant un discours">
            </div>
            <div class="club-entrainements">
                <img class="img-entrainement" src="{{ asset('img/entrainement2.jpg')}}" alt="photo d'un entraînement du club">
                <div class="titre-texte">
                    <h3>Entraînements</h3>
                        <p>Accueillant des joueurs de tout niveau, les entraînements sont sans prises de têtes avec des équipes tirées au sort avec une méthode de tirage absolument unique et totalement impartial !

                        Venez essayer gratuitement, c’est le meilleur moyen de vous faire votre propre avis !
                        
                        Les entraînements commencent à 20h30 mais ne se terminent qu’à l’épuisement (ou l’apéro selon les envies).</p>
                </div>
            </div>
            <div class="club-activites">
                <div class="titre-texte">
                    <h3>Autres activités</h3>
                        <p>En plus des entraînements, le club est à l’initiative de divers événements tels que des tournois amicaux internes ou externes, des repas ou des marches en groupe.

                        Toujours dans une ambiance chaleureuse et dans le but de passer des bons moments.</p>
                </div>
                <img class="img-paella" src="{{ asset('img/paella.jpg')}}" alt="photo d'un membre du club faisant une très grande paëlla">
            </div>
    </div>
</main>
<div class="prochain-evenement">
    
</div>
{% endblock %}