{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <h1>Badminton Club Kriegsheim Rottelsheim</h1>
    <h2>Le club</h2>
    
    
</main>
{% endblock %}