{% extends 'base.html.twig' %}

{% block title %}Liste membres{% endblock %}

{% block body %}
<h1>Liste des membres</h1>

{% for membre in membres %}
    <p><a href=" {{ path('show_membre', {'id': membre.id}) }} ">{{ membre}}</a></p><br>
{% endfor %}

{% endblock %}
