{% extends 'base.html.twig' %}

{% block title %}Liste membres{% endblock %}

{% block body %}
<h4>Liste des membres</h4>

{% for membre in membres %}
    <p><a class="texte-utilisateur" href=" {{ path('show_membre', {'id': membre.id}) }} ">{{ membre.prenom }} {{ membre.nom }}</a></p>
{% endfor %}

{% endblock %}
