{% extends 'base.html.twig' %}

{% block title %}Liste membres{% endblock %}

{% block body %}

<div class="membre-container">

    <h4>Liste des membres</h4>

    <p>
        {% for membre in membres %}
            <a class="texte-membre" href=" {{ path('show_membre', {'id': membre.id}) }} ">{{ membre.prenom }} {{ membre.nom }}</a>
        {% endfor %}
    </p>
</div>

{% endblock %}