{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
<h1>Liste des événements</h1>

{% for evenement in evenements %}
    <p><a class="texte-utilisateur" href=" {{ path('show_evenement', {'id': evenement.id}) }} ">{{ evenement }}</a></p>
{% endfor %}

{% endblock %}
