{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}

{% block body %}

<main>

    <h4>Liste des utilisateurs</h4>
    
    {% for utilisateur in utilisateurs %}
        <p><a class="texte-utilisateur" href=" {{ path('show_utilisateur', {'id': utilisateur.id}) }} " class="texte-utilisateur">{{ utilisateur}}</a></p>
    {% endfor %}
    
</main>

{% endblock %}
