{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}

{% block body %}
<h1>Liste des utilisateurs</h1>

{% for utilisateur in utilisateurs %}
    <p>{{ utilisateur.prenom }} {{ utilisateur.nom }}</p><br>
{% endfor %}

{% endblock %}
