{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}

{% block body %}
<h1>Liste des utilisateurs</h1>

{% for utilisateur in utilisateurs %}
    <p><a href=" {{ path('show_utilisateur', {'id': utilisateur.id}) }} ">{{ utilisateur}}</a></p><br>
{% endfor %}

{% endblock %}
