{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}

{% block body %}

<div class="utilisateurs-container">

    <h4>Liste des utilisateurs</h4>

    <p>
        {% for utilisateur in utilisateurs %}
            <a class="texte-utilisateur" href=" {{ path('show_utilisateur', {'id': utilisateur.id}) }} ">{{ utilisateur}}</a>
        {% endfor %}
    </p>

</div>

{% endblock %}
