@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.title {
    width: 100%;
    padding: 50px 0px;
    align-items: center;
    text-align: center;
    border: solid red;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-weight: 800;
    font-size: clamp(2rem, 7.5vw + .5rem, 4rem);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(15, 15, 15);
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    max-height: 80px;
}

a {
    text-decoration: none;
    color: white;
}

.img-logo {
    max-height: 60px;
}

nav {
    font-size: 1.25rem;
    display: flex;
    gap: 30px;
}

nav a:hover {
    text-decoration: underline;
    color:  rgb(255, 255, 255);
}

.login {
    display: flex;
    gap: 20px;
}

.connexion {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
}

.deconnexion {
    background-color: rgb(0, 0, 0);
    border: solid white;
    border-width: 1px;
    border-radius: 5px;
    padding: 9px 14px;
}

.inscription {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
}

.connexion:hover {
    text-decoration: underline;
    color:  rgb(0, 0, 0);
}

.deconnexion:hover {
    text-decoration: underline;
    color:  rgb(255, 255, 255);
}

.inscription:hover {
    text-decoration: underline;
    color:  rgb(0, 0, 0);
}

main {
    margin-top: 80px;
    min-height: 100vh;
    background: url('../img/bg1-terrain.jpg') no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.club {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    padding: 80px;
    align-items: center;
    min-width: 8rem;
}

.club-description, .club-entrainements, .club-activites {
    padding: 20px;
    background: rgba(15, 15, 15, 0.384);
    border: solid red;
    display: flex;
    flex-wrap: wrap;
}

.club-description img {
    max-height: 50dvh;
}

/* .img-president {
    max-height: 0.8dvh;
} */